CMC_API_KEY=...
SITE_URL=http://localhost:3000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
BINANCE_API_KEY=...
BINANCE_SECRET=...
COIN_GECKO_API_KEY=CG-...
INFURA_API_KEY=...
ETHERSCAN_API_KEY=...
DATABASE_URL=