CMC_API_KEY=...
CMC_API_KEY_OLD=...
SITE_URL=http://localhost:3000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_...
CLERK_SECRET_KEY=sk_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
BINANCE_API_KEY=...
BINANCE_SECRET=...
COIN_GECKO_API_KEY=CG-...
GRAPH_API_KEY=...
NEXT_PUBLIC_ADMIN_CRYPTO_CARDS=BAN,BTC,ETH
NEXT_PUBLIC_ADMIN_MINI_CRYPTO_CARDS=SOL,UNI,DOGE,BNB
NEXT_PUBLIC_ADMIN_OHLCV_CHART_CARDS=OKX:BTC/USDT,OKX:ETH/USDT
NEXT_PUBLIC_ADMIN_NANO_BANANO_CARDS=ban_1defi11tou1nbhyp8y4onwsiq5jcur19xe54mcmew1xonnz6e1d1sw74yefu:true,ban_3bsco1dfwmwpnnjjqyqb9f7f83gtxsrmgdzdjdz58u6dhga5ajsgtsdz1g8h:false
NEXT_PUBLIC_ADMIN_ORDER_BOOK_CARDS=Coinex:BTC/USDT,Coinex:ETH/USDT
NEXT_PUBLIC_ADMIN_TURKISH_LIRA_CARDS=USD,EUR,GBP
NEXT_PUBLIC_CMC_CRYPTOS=BAN,BTC,ETH,SOL,UNI,DOGE,BNB,MATIC,BNB,ARB
UNISWAP_POSITIONS=ethereum:123