DATABASE_URL=...
REDIS_URL=...
CMC_API_KEY=...
ALCHEMY_API_KEY=...
AUTH_DRIZZLE_URL=...
AUTH_SECRET=...
AUTH_TRUST_HOST=true
NEXT_PUBLIC_BUCKET_URL=...
NEXT_PUBLIC_SITE_URL=...
TIINGO_API_KEY=...
METALS_DEV_API_KEY=...
NEXT_PUBLIC_REOWN_PROJECT_ID=...

# Auth (Optional)
AUTH_GOOGLE_ID=...
AUTH_GOOGLE_SECRET=...
AUTH_DISCORD_ID=...
AUTH_DISCORD_SECRET=...

# Crypto Exchange (Optional)
BINANCE_API_KEY=...
BINANCE_SECRET=...
CCXT_PROXY_URL=...

# Analytics (Optional)
NEXT_PUBLIC_POSTHOG_KEY=...
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_POSTHOG_HOST_ASSETS=https://us-assets.i.posthog.com


# CDN (Optional)
CLOUDFLARE_ZONE_ID=...
CLOUDFLARE_EMAIL=...
CLOUDFLARE_API_KEY=...
DEPLOY_WEBHOOK_SECRET=...

# Blog (Optional)
GHOST_API_URL=...
GHOST_CONTENT_API_KEY=...