.icon-link {
  opacity: 0;
  padding: 0 0.5rem;
}

.icon-link::before {
  content: "#";
  font-weight: normal;
}

h1:hover .icon-link,
h2:hover .icon-link,
h3:hover .icon-link,
h4:hover .icon-link,
h5:hover .icon-link,
h6:hover .icon-link {
  opacity: 0.5;
}

h1:hover .icon-link:hover,
h2:hover .icon-link:hover,
h3:hover .icon-link:hover,
h4:hover .icon-link:hover,
h5:hover .icon-link:hover,
h6:hover .icon-link:hover {
  opacity: 0.75;
}

h1 a[tabindex="-1"],
h2 a[tabindex="-1"],
h3 a[tabindex="-1"],
h4 a[tabindex="-1"],
h5 a[tabindex="-1"],
h6 a[tabindex="-1"] {
  text-decoration: none;
}
